
nav h1{
    color: white !important;
}

nav button{
    background-color: blue !important;
    color: white !important;
    margin-right: 30px !important;
}

nav button:hover{
    color: blue !important;
    background-color: white !important;
}

nav a {
    color: white;
    text-decoration: none;
}