body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    background-image: url("../img/download.jfif");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }.container {
    max-width: 900px;
    margin-top: 50px;

  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .card {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
  }
  
  .card-img-top {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 5px solid #007bff;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .card {
      padding: 15px;
    }
  
    .card-title {
      font-size: 1.25rem;
    }
  
    .card-text {
      font-size: 0.9rem;
    }
  }  